header {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding: auto;
  text-align: center;
  color: #f0f0f3;
  font-family: 'Iceland', cursive;
  font-family: 'Racing Sans One', cursive;
  font-size: 5vw;
  letter-spacing: 1vw;
  text-shadow: 2px 2px #8c8d8e;
}

.table_container {
  padding: 2% 7% 0% 7%;
}

.text {
  margin-top: 2vh;
  letter-spacing: 1.5px;
  font-weight: lighter;
  text-align: center;
  font-size: 2vw;
  font-family:'GlacialIndifferenceRegular';
}

.colored {
  color: red;
  background-color: transparent;
}
