.table_container {
  padding: 2% 7% 0% 7%;
}

tr.mat-footer-row {
    border: 1px solid #e7e7e7;
    font-weight: bold;
    height: 1px !important;
}

.text {
  margin-top: 2vh;
  letter-spacing: 1.5px;
  font-weight: lighter;
  text-align: center;
  font-size: 3vw;
  font-family:'GlacialIndifferenceRegular';
}

.colored {
  color: red;
  background-color: transparent;
}
